@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark){
    :root{
        --background-color: black;
        --neon-color: mediumslateblue;
        --card-color: rgb(16 16 16);
        --font-color: 244, 238, 255;
        --bg-color: 56, 79, 238;
        /* --card-shadow : 255, 255, 255; */
        --blur-color: linear-gradient(to right, aquamarine, mediumpurple);

        color: rgb(var(--font-color));
    }
}

@media (prefers-color-scheme: light){
    :root{
        --background-color: 244, 238, 255;
        --neon-color: mediumseagreen;
        --card-color: #424874;
        --font-color: 0,0,0;
        --bg-color: 116, 150, 113;
        --card-shadow : 0, 0, 0;
        --blur-color: linear-gradient(to right, red, mediumpurple);

        color: rgb(var(--font-color));
    }
}



body{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;

    background-color: var(--background-color);
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-inline: 5vw;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    align-items: center;
    overflow-x: hidden;

}

h1, h2, h3, p {
    margin: 0rem;
  }


.card{
    padding: 1rem;
    position: relative;
    background-color: var(--card-color);
    border : 1px solid rgba(var(--font-color),5%);
    border-radius: 1.5rem;
    box-shadow: rgba(var(--card-shadow), 0.25) 0px 54px 55px, rgba(var(--card-shadow), 0.12) 0px -12px 30px, rgba(var(--card-shadow), 0.12) 0px 4px 6px, rgba(var(--card-shadow), 0.17) 0px 12px 13px, rgba(var(--card-shadow), 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card::after {  
    content: "";
    height: 70px;
    width: 1px;  
    position: absolute;  
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    /* line hover card*/
    background: linear-gradient(
      transparent,
      var(--neon-color),
      transparent
    );
    opacity: 0;
}
  
.card:hover:after {
    top: 25%;
    opacity: 1;
}

.left{
    flex-direction: row;
}

.right{
    flex-direction: row-reverse;
}

.right .card-text, .left .card-text, .tiny .card-text{
    max-width: 600px;
    
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
    padding: 4rem;
}

.dotted .card-text{
    /* dotted background */
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-text > :is(h1, h2, h3, p){
    text-align: center;
}

.card-text > h1 { 
    font-size: 2.6rem;
}
  
.card-text > h3 {
    text-transform: uppercase;
    font-size: 0.76rem;
    color: var(--neon-color);
}
  
.card-text > p {
    color: rgba(var(--font-color), 0.75);
    line-height: 2rem;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    margin-block: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

details{
    border-radius: 1rem;
    padding: 1rem;
    background: var(--neon-color);
    color : var(--font-color);
    margin-block: 1rem;
}

summary{
    font-weight: bold;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: rgb(var(--font-color));
    font-weight: bold;
}

code{
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    cursor: pointer;
    /* border-radius: 0.5rem; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.tooltips_clipboard{
    position: fixed;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: var(--font-color);
    top: 0.5em;
    right: 1em;
    background: var(--card-color);
    border-radius: 1rem;
    border : 1px solid rgb(255 255 255 / 10%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    visibility: collapse;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.tooltiptext_clipboard{
    position: absolute;
    color: black;
    /* top: 0.5em;
    right: 1em; */
    visibility: collapse;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media screen and (max-width: 1400px) {
    .left, .right, .tiny{
        flex-direction: column;
    }

    
}

@media screen and (max-width: 1100px) {
    .right .card-text, .left .card-text, .tiny .card-text{
        max-width: 70vw;
        min-width: 70vw;
    }
}

@media screen  and (max-width: 425px){
    :root{
        font-size: small;
    }

    h1{
        font-size: x-large;
    }

    body{
        margin-inline: 2vw;
        margin-block: 2vh;
    }

    .card{
        margin-block: 3vh;
    }

    .card-text{
        padding-block: 0.5rem;
    }
}

#main-title{
    border-radius: 0.5em 0 0.5em 0;
    padding: 0.25em 0.5em;
    background-color: rgb(var(--bg-color));
    box-shadow: rgba(var(--bg-color), 0.4) 5px 5px, rgba(var(--bg-color), 0.3) 10px 10px, rgba(var(--bg-color), 0.2) 15px 15px, rgba(var(--bg-color), 0.1) 20px 20px, rgba(var(--bg-color), 0.05) 25px 25px;
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    font-family: " Space Mono", monospace;
}


#blob{
    position: absolute;
    height: 500px;
    left: 50%;
    top: 50%;
    translate : -50% -50%;
    border-radius: 50%;
    background: var(--blur-color);
    aspect-ratio: 1;
    animation: rotate 20s linear infinite;
    z-index: -2;
    filter: blur(150px);
    
}


@keyframes rotate{
    from {
        rotate: 0deg;
    }

    50%{
        scale: 1 1.5;
    }

    to{
        rotate: 360deg;
    }
}