<!-- Navigation Bar -->
<nav id = "leftNavBar">
    <nav class="inerBarNav">
        <div class="titleNav">
            <img src="{{assetsFilePath}}/bullseye.svg" alt="target svg">
            <div>Targets</div></div>
        <!-- library -->
        {% for library in librarylist %}
            {{library}}
        {% endfor %}
    </nav>


    <nav class="inerBarNav">
        <div class="titleNav">
            <img src="{{assetsFilePath}}/clipboard-list.svg" alt="target svg">
            <div>Theme</div></div>
        <!-- theme -->
        {% for theme, tasklist in TaskClassifiedByTheme.items() %}
            <div class="openTheme">{{theme}}
            <nav class="inerBarNav collapsed underBarNav">
                {% for task in tasklist %}
                    {{task}}
                {% endfor %}
            </nav></div>
        {% endfor %}
    </nav>

    <script>
        
    </script>
</nav>