@import url('bodyStyle.css');

/* Style for the navigation bar */
#leftNavBar {
    height: 100vh;
    width: var(--navbar-width);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--navBar-color);
    margin-top: var(--topMargin);
    font-size: 1rem;

    overflow-y: scroll;
    /* overscroll-behavior-block: contain; */
}

#leftNavBar::-webkit-scrollbar {
    display: none;
    /* color: transparent;
    background-color: transparent; */
    /* keep the scrool position even when the page change*/
    
}

.inerBarNav {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: solid 2px var(--green3);
}

.inerBarNav a {
    display: block;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    transition: all 0.3s ease-in-out;
    color: var(--font-color);
}

.inerBarNav a:hover {
    background-color: var(--navBar-over-color);
    transition: all 0.3s ease-in-out;
}

.inerBarNav a.active {
    background-color: var(--navBar-color-active);
}

.titleNav {
    display: flex;
    gap : 1rem;
    font-size: 1.3rem;
    color: var(--white);
    text-align: center;
    margin: 16px;
}

.titleNav img {
    width: 32px;
    height: 32px;
}

.collapsed {
    display: none;
}

.openTheme:hover .collapsed{
    display: block;
}

.expanded {
    display: block;

}

.openTheme:hover {
    background-color: var(--navBar-over-color);
    transition: all 0.3s ease-in-out;
}

.underBarNav {
    background-color: var(--navBar-under-color);
    /* margin: 0; */
}

.underBarNav a {
    font-size: smaller;
    padding-left:2rem;
}

.underBarNav a:hover {
    background-color: var(--navBar-color-under-hover);
    transition: all 0.3s ease-in-out;
}

.underBarNav a.active {
    background-color: var(--navBar-color-under-active);
    
}